Lead Generation _V2 google maps scrap.json
{
  "name": "Lead Generation _V2 google maps scrap",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        8480,
        6224
      ],
      "id": "f9abda96-b71d-4f03-9f5b-a20cd5dbbcc8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "rem5d7hNDmab9KdJ",
          "name": "Google Gemini(PaLM) Api account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1002850562903489",
        "recipientPhoneNumber": "+20 10 95521680",
        "textBody": "={{ $json.output[0].message }} ||{{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        6432,
        6432
      ],
      "id": "9b30bd9f-d7e1-4e27-ade3-b6b38e9353df",
      "name": "Send message2",
      "webhookId": "1beb609d-bd88-43f8-9029-579587bf9f38",
      "credentials": {
        "whatsAppApi": {
          "id": "4Sn2VPa7kh2HaxuY",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apifyOAuth2Api",
        "actorId": {
          "__rl": true,
          "value": "nwua9Gu5YrADL7ZDj",
          "mode": "list",
          "cachedResultName": "Google Maps Scraper (compass/crawler-google-places)",
          "cachedResultUrl": "https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"
        },
        "eventType": [
          "ACTOR.RUN.SUCCEEDED",
          "ACTOR.RUN.TIMED_OUT"
        ]
      },
      "type": "@apify/n8n-nodes-apify.apifyTrigger",
      "typeVersion": 1,
      "position": [
        5984,
        6160
      ],
      "id": "29bd420b-dc55-44e3-b58b-1637f3280ca8",
      "name": "Apify Trigger3",
      "webhookId": "9581e557-5ba5-457c-be8b-810595d8b57f",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "tIbrnJTOLlkZY1SC",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## google  maps scrap",
        "height": 800,
        "width": 3252,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5984,
        5792
      ],
      "id": "2a5f8431-6317-46fb-9f81-d5a3207a52d0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.resource.defaultDatasetId}}/items",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6464,
        6112
      ],
      "id": "339496e8-6748-495c-acb5-36a40c15174d",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08f84165-d25d-42d4-af26-21d1e12b43f6",
              "leftValue": "={{ $json.resource.storageIds.datasets.default }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6160,
        6160
      ],
      "id": "71c1acdd-5ab6-4f13-bbf8-3f914edeeb32",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7680,
        6000
      ],
      "id": "5ea385cf-3033-4f96-99c9-6a87b4504970",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CnJfx0Je_XygX793BZoHyQBnZiwU6a_LMsB4IzXhDD0",
          "mode": "list",
          "cachedResultName": "result_Apify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CnJfx0Je_XygX793BZoHyQBnZiwU6a_LMsB4IzXhDD0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 591465830,
          "mode": "list",
          "cachedResultName": "الورقة3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CnJfx0Je_XygX793BZoHyQBnZiwU6a_LMsB4IzXhDD0/edit#gid=591465830"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6432,
        6272
      ],
      "id": "aa8471cc-3259-42d4-9453-af06af914ff3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OqVWt8Hp4W8lhASy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6656,
        6176
      ],
      "id": "abab978f-2599-469c-8692-1daa1e3da47a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1CnJfx0Je_XygX793BZoHyQBnZiwU6a_LMsB4IzXhDD0",
          "mode": "list",
          "cachedResultName": "result_Apify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CnJfx0Je_XygX793BZoHyQBnZiwU6a_LMsB4IzXhDD0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 591465830,
          "mode": "list",
          "cachedResultName": "الورقة3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CnJfx0Je_XygX793BZoHyQBnZiwU6a_LMsB4IzXhDD0/edit#gid=591465830"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id place": "={{ $json.placeId }}",
            "NAME PLACE": "={{ $json.title }}"
          },
          "matchingColumns": [
            "id place"
          ],
          "schema": [
            {
              "id": "id place",
              "displayName": "id place",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NAME PLACE",
              "displayName": "NAME PLACE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7616,
        6304
      ],
      "id": "5c665429-9001-4402-9cc6-262493e87586",
      "name": "Append id place",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OqVWt8Hp4W8lhASy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appQ4QWVg8lLXxoQq",
          "mode": "list",
          "cachedResultName": "lead genrration -V1",
          "cachedResultUrl": "https://airtable.com/appQ4QWVg8lLXxoQq"
        },
        "table": {
          "__rl": true,
          "value": "tblFh1uGbCIB9L55n",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appQ4QWVg8lLXxoQq/tblFh1uGbCIB9L55n"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{JSON.stringify($json)}}",
            "phone": "={{ $json.phone }} ",
            "address": "={{ $json.address }}",
            "id place": "={{ $json.placeId }}",
            "Title & name": "={{ $json.categoryName }} && {{ $json.title }} "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title & name",
              "displayName": "Title & name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id place",
              "displayName": "id place",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Data status",
              "displayName": "Data status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        7888,
        6112
      ],
      "id": "4785f3db-3984-44cc-9448-f1e264d9a208",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "WyCinLqtmx394waQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me4",
      "typeVersion": 1,
      "position": [
        8528,
        5856
      ],
      "id": "dd0ae89e-cff6-416e-82a3-c23dcf94fdec",
      "placeholder": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2f5e88-b5e8-40f8-af91-5b4d0c659dcf",
              "name": "Data",
              "value": "={{ $json.fields.DATA }}",
              "type": "string"
            },
            {
              "id": "995e00ae-a7a0-4d26-b922-a99c31874304",
              "name": "id airtable",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8016,
        5984
      ],
      "id": "bfbbf81a-9c84-48a2-90f5-573a16688d2b",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8256,
        5984
      ],
      "id": "e30c3d5f-7cb2-4b22-9c4a-eb33038f5efc",
      "name": "Loop Over Items6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Data }}",
        "messages": {
          "messageValues": [
            {
              "message": "# ROLE You are a senior business strategist specialized in identifying high-value growth opportunities for web developers and digital marketers.  # INPUT You will receive a JSON object containing scraped Google Maps business data.  # TASK Analyze the data deeply and extract: 1) Business opportunity quality 2) Specific actionable insight 3) Contact & identity information  # OUTPUT (STRICT JSON ONLY) {   \"name\": \"business name\",   \"address\": \"full address\",   \"phone\": \"phone number or 'not available'\",   \"email\": \"email or 'not available'\",   \"website\": \"url or 'not available'\",   \"social_media\": \"links or 'not available'\",    \"score\": number (0-10),   \"category\": \"low \n medium \n high value lead\",    \"main_problem\": \"clear specific problem\",   \"opportunity\": \"specific actionable business opportunity\",   \"opportunity_type\": \"web_dev \n seo \n ads \n automation \n branding\",    \"insights\": [     \"short sharp insight 1\",     \"short sharp insight 2\"   ],    \"outreach_message\": \"one short persuasive message\" }  # ANALYSIS RULES  ## 1. Website Analysis (IMPORTANT) - No website / null / broken → HIGH opportunity (web_dev) - Weak domain / outdated design → MEDIUM opportunity - Good website → shift to SEO / Ads / Automation upsell - If website exists but no CTA / slow / not mobile friendly → treat as weak  ## 2. Reviews & Rating - rating < 4.0 → reputation issue - reviewsCount < 150 → visibility problem - High rating + high reviews → upsell (ads, automation, retention) - Detect negative patterns (service, delay, price)  ## 3. Engagement & Freshness - Old reviews (>6 months) → inactive business → opportunity - No replies to reviews → trust gap  ## 4. Data Completeness - Missing phone / website / social → marketing gap - Missing photos/menu → conversion issue  ## 5. Social Presence - No social media → branding opportunity - Weak engagement → content/ads opportunity  ## 6. Competitive Position (IMPORTANT) - High reviews + low rating → weak vs competitors - Low reviews + good rating → hidden gem → strong growth opportunity  ## 7. Lead Value Scoring - 0–3 → low - 4–6 → medium - 7–10 → high  Increase score if: - No website - Poor reputation - Missing data - Weak visibility  Decrease score if: - Already optimized business  ## 8. Opportunity Type Selection Pick ONE primary: - web_dev → website - seo → search ranking - ads → paid ads - automation → CRM / chatbot / funnels - branding → social presence & identity  ## 9. Insights Rules - Must be actionable (not generic) - Based on actual data  ## 10. Outreach Message - ONE sentence only - Direct + value-driven - Focus on main problem  # CONTACT DATA RULE (STRICT)  - Extract ONLY available data from input JSON - DO NOT guess or infer any contact information  - If phone missing → \"not available\" - If email missing → \"not available\" - If website missing → \"not available\" - If social media missing → \"not available\"  - Never generate emails (no info@ guessing) - Never fabricate links  # STYLE - Output بالعربي (ماعدا القيم التقنية زي web_dev) - مختصر + ذكي + مباشر  # IMPORTANT RULES - NEVER return null → استخدم \"not available\" - JSON فقط بدون أي نص إضافي - لازم يبدأ بـ { وينتهي بـ }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        8496,
        6000
      ],
      "id": "85096c84-c900-4899-ad18-c03fb82e344f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appQ4QWVg8lLXxoQq",
          "mode": "list",
          "cachedResultName": "lead genrration -V1",
          "cachedResultUrl": "https://airtable.com/appQ4QWVg8lLXxoQq"
        },
        "table": {
          "__rl": true,
          "value": "tblFh1uGbCIB9L55n",
          "mode": "list",
          "cachedResultName": "google maps scrap",
          "cachedResultUrl": "https://airtable.com/appQ4QWVg8lLXxoQq/tblFh1uGbCIB9L55n"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items6').item.json['id airtable'] }}",
            "Result of data analysis": "={{ $json.text }}"
          },
          "matchingColumns": [
            "id",
            "Analyzed data"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title & name",
              "displayName": "Title & name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "id place",
              "displayName": "id place",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Result of data analysis",
              "displayName": "Result of data analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        9008,
        6000
      ],
      "id": "c691e3fb-5f75-497a-ad78-c7326ced8a52",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "WyCinLqtmx394waQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        8080,
        6256
      ],
      "id": "b6ebdf8f-7ff0-4ffc-9727-ee22965ee67d",
      "name": "Merge3"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8832,
        6000
      ],
      "id": "5ed83d1b-5868-49d0-8515-d2b797e2b583",
      "name": "Wait3",
      "webhookId": "86953bc0-085b-46f1-8a40-a40c33f38ffc"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(item => item.json);\n\n// 1. IDs من الشيت بس (اللي مفيهاش title)\nconst sheetIds = new Set(\n  allItems\n    .filter(item => !item.title && (item['id place'] || item['placeId']))\n    .map(item => (item['id place'] || item['placeId']).toString().trim())\n);\n\n// 2. فلترة الداتا الجديدة (اللي فيها title)\nconst newItems = allItems.filter(item => {\n  if (!item.title || !item.placeId) return false;\n  return !sheetIds.has(item.placeId.toString().trim());\n});\n\n// 3. الداتا الموجودة قبل كده (duplicates)\nconst existingItems = allItems.filter(item => {\n  if (!item.title || !item.placeId) return false;\n  return sheetIds.has(item.placeId.toString().trim());\n});\n\n// 4. رجّع الجديد + الموجود كل واحد بـ flag\nconst output = [\n  ...newItems.map(item => ({ json: { ...item, status: 'new' } })),\n  ...existingItems.map(item => ({ json: { \n    status: 'already_exists',\n    placeId: item.placeId,\n    title: item.title\n  }}))\n];\n\n// 5. لو مفيش خالص\nif (output.length === 0) {\n  return [{ json: { message: 'No data found' } }];\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6864,
        6176
      ],
      "id": "9d9f70c4-a783-492c-a937-d3b419131bd4",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70692be8-4247-4367-ab68-5d8163ed7044",
              "leftValue": "={{$json[\"status\"]}}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7056,
        6176
      ],
      "id": "6cbb71d1-dd99-4293-b546-b0f560a99f9b",
      "name": "If6"
    },
    {
      "parameters": {
        "sendTo": "elmahdya524@gmail.com",
        "subject": "warning",
        "emailType": "text",
        "message": "=تمت عمليت الاسكراب مع العلم لم يتم حفظ البايات الخاصه بهذا الاسم نظرا لوجودها من قبل   name : {{ $json.title }}  id place :{{ $json.placeId }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7568,
        6464
      ],
      "id": "f8ec6a5d-ec78-4984-ad14-5b0a37d2ab57",
      "name": "Send a message",
      "webhookId": "0078f792-682f-45c9-9544-4644e697579e",
      "credentials": {
        "gmailOAuth2": {
          "id": "NuHIOtshYSRJFCYV",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7312,
        6448
      ],
      "id": "80398a5d-7e09-4f4d-a57f-eb291079ad76",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => item.json.status === \"new\");"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7328,
        6080
      ],
      "id": "d568d2ed-b89e-4df4-a9c4-59ab6117df79",
      "name": "Code in JavaScript6"
    }
  ],
  "pinData": {
    "Apify Trigger3": [
      {
        "json": {
          "userId": "J2L8d4Zjh5xvB4M9G",
          "createdAt": "2026-04-15T20:06:57.310Z",
          "eventType": "ACTOR.RUN.SUCCEEDED",
          "eventData": {
            "actorId": "nwua9Gu5YrADL7ZDj",
            "actorRunId": "hflWdP1eeTjBHUgLs"
          },
          "resource": {
            "id": "hflWdP1eeTjBHUgLs",
            "actId": "nwua9Gu5YrADL7ZDj",
            "userId": "J2L8d4Zjh5xvB4M9G",
            "startedAt": "2026-04-15T20:05:17.911Z",
            "finishedAt": "2026-04-15T20:06:51.205Z",
            "status": "SUCCEEDED",
            "statusMessage": "Scraping finished. You can view all scraped places laid out on a map on: https://api.apify.com/v2/key-value-stores/VkLi2YmxzDJazzIQi/records/results-map?signature=zplMnZgGwjy0rM4QixKi. It can take some time to fully load for large datasets.",
            "isStatusMessageTerminal": true,
            "meta": {
              "origin": "WEB",
              "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36"
            },
            "stats": {
              "inputBodyLen": 989,
              "migrationCount": 0,
              "rebootCount": 0,
              "restartCount": 0,
              "durationMillis": 93073,
              "resurrectCount": 0,
              "runTimeSecs": 93.073,
              "metamorph": 0,
              "computeUnits": 0.10341444444444445,
              "memAvgBytes": 99119741.72370891,
              "memMaxBytes": 111943680,
              "memCurrentBytes": 0,
              "cpuAvgUsage": 3.9779724284820124,
              "cpuMaxUsage": 88.10118644067796,
              "cpuCurrentUsage": 0,
              "netRxBytes": 3317864,
              "netTxBytes": 500053
            },
            "options": {
              "build": "latest",
              "timeoutSecs": 604800,
              "memoryMbytes": 4096,
              "maxTotalChargeUsd": 4.999996,
              "maxItems": null,
              "diskMbytes": 8192
            },
            "buildId": "r16nSabhFnx6hORbs",
            "exitCode": 0,
            "defaultKeyValueStoreId": "VkLi2YmxzDJazzIQi",
            "defaultDatasetId": "2wd4OlHXYWfkkvBnL",
            "defaultRequestQueueId": "PqkNs5DTmHqhYc6DZ",
            "storageIds": {
              "keyValueStores": {
                "default": "VkLi2YmxzDJazzIQi"
              },
              "datasets": {
                "default": "2wd4OlHXYWfkkvBnL"
              },
              "requestQueues": {
                "default": "PqkNs5DTmHqhYc6DZ"
              }
            },
            "pricingInfo": {
              "minimalMaxTotalChargeUsd": 0.5,
              "pricingModel": "PAY_PER_EVENT",
              "isPriceChangeNotificationSuppressed": true,
              "createdAt": "2026-02-23T13:04:07.249Z",
              "startedAt": "2026-02-23T13:04:07.249Z",
              "apifyMarginPercentage": 0.2,
              "pricingPerEvent": {
                "actorChargeEvents": {
                  "place-scraped": {
                    "eventTitle": "Scraped place",
                    "eventDescription": "Cost per place successfully scraped from Google Maps. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "isPrimaryEvent": true,
                    "eventPriceUsd": 0.004
                  },
                  "filter-applied": {
                    "eventTitle": "Add-on: Filter applied",
                    "eventDescription": "Extra cost per place for each filter applied (e.g. category, title match, minimum stars, website availability, or skipping closed places). Final price = places scraped * filter price * number of filters. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.001
                  },
                  "place-details-scraped": {
                    "eventTitle": "Add-on: Additional place details scraped",
                    "eventDescription": "Flat cost per place to retrieve additional place details (e.g. table reservation data, web results, or max questions). The price remains the same no matter how many details you select. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.002
                  },
                  "contact-details-scraped": {
                    "eventTitle": "Add-on: Company contacts enrichment",
                    "eventDescription": "Extra cost per place for finding the associated web page and extracting contact information (e.g. social media accounts or company email). <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.002
                  },
                  "lead-scraped": {
                    "eventTitle": "Add-on: Business leads enrichment",
                    "eventDescription": "Cost per successfully extracted business lead. Get key prospect details: full name, work email, phone number, job title, and LinkedIn profile. Enable the 'scrape places with website' filter to only show places that have an active website. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.1
                  },
                  "social-profile-scraped": {
                    "eventTitle": "Add-on: Social media profile enrichment",
                    "eventDescription": "Flat cost per 1,000 social media profiles enriched with detailed data (e.g., follower counts, profile name, description). This price applies to the total number of profiles enriched, regardless of how many different platforms (Facebook, TikTok, etc.) you select.",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.1
                  },
                  "review-scraped": {
                    "eventTitle": "Add-on: Review scraped",
                    "eventDescription": "Extra cost per individual review scraped. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.0005
                  },
                  "image-scraped": {
                    "eventTitle": "Add-on: Image scraped",
                    "eventDescription": "Extra cost per image retrieved from a place, including author details. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.0005
                  },
                  "apify-actor-start": {
                    "eventTitle": "Actor Start",
                    "eventDescription": "Charged when the Actor starts running. Number of events charged depends on Actor memory (one event per GB, minimum one event).",
                    "isOneTimeEvent": true,
                    "eventPriceUsd": 0.00005
                  }
                }
              }
            },
            "chargedEventCounts": {
              "place-scraped": 3,
              "filter-applied": 6,
              "place-details-scraped": 3,
              "contact-details-scraped": 1,
              "lead-scraped": 0,
              "social-profile-scraped": 0,
              "review-scraped": 0,
              "image-scraped": 15,
              "apify-actor-start": 4
            },
            "platformUsageBillingModel": "DEVELOPER",
            "accountedChargedEventCounts": {
              "place-scraped": 3,
              "filter-applied": 6,
              "place-details-scraped": 3,
              "contact-details-scraped": 1,
              "lead-scraped": 0,
              "social-profile-scraped": 0,
              "review-scraped": 0,
              "image-scraped": 15,
              "apify-actor-start": 4
            },
            "generalAccess": "FOLLOW_USER_SETTING",
            "buildNumber": "0.14.608",
            "containerUrl": "https://nwvhtmxgptio.runs.apify.net",
            "usageTotalUsd": 0.0337,
            "links": {
              "publicRunUrl": "https://console.apify.com/view/runs/hflWdP1eeTjBHUgLs",
              "consoleRunUrl": "https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/runs/hflWdP1eeTjBHUgLs",
              "apiRunUrl": "https://api.apify.com/v2/actor-runs/hflWdP1eeTjBHUgLs",
              "apiDefaultDatasetUrl": "https://api.apify.com/v2/datasets/2wd4OlHXYWfkkvBnL",
              "apiDefaultKeyValueStoreUrl": "https://api.apify.com/v2/key-value-stores/VkLi2YmxzDJazzIQi",
              "containerRunUrl": "https://nwvhtmxgptio.runs.apify.net"
            },
            "storages": {
              "datasets": {
                "default": {
                  "id": "2wd4OlHXYWfkkvBnL",
                  "apiUrl": "https://api.apify.com/v2/datasets/2wd4OlHXYWfkkvBnL"
                }
              },
              "keyValueStores": {
                "default": {
                  "id": "VkLi2YmxzDJazzIQi",
                  "apiUrl": "https://api.apify.com/v2/key-value-stores/VkLi2YmxzDJazzIQi"
                }
              },
              "requestQueues": {
                "default": {
                  "id": "PqkNs5DTmHqhYc6DZ",
                  "apiUrl": "https://api.apify.com/v2/request-queues/PqkNs5DTmHqhYc6DZ"
                }
              }
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Apify Trigger3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append id place": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        []
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Append id place",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e27a84a7-5650-4d0f-a666-ef4ff879b194",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58e8f6d29f9de1e210f132a82813ede423bb475ab72461e17a7c3b1908df1cfe"
  },
  "id": "oSXEbqmpaXP2eKox",
  "tags": []
}